@keyframes shake {

    10% {
        transform: translateX(-10px)
    }


    14% {
        transform: translateX(20px)
    }


    16% {
        transform: translateX(-10px)
    }

    20% {
        transform: translateX(0px)
    }

}

@keyframes background-move {

    100% {
        background-position-x: -200px;
    }


}

@keyframes back-to-start-position {

    to {
        transform: translate(0, 0);
    }
}

@keyframes loading {
    30% {
        opacity: 1;
    }

    85% {
        opacity: 1;
        transform: rotate(1080deg);
        border-color: white;
    }

    100% {
        opacity: 1;
        transform: rotate(1080deg);
        border-color: var(--loader-color);
    }
}