*,
*::after,
*::before,
*::marker,
*:checked {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');