* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,400&family=Roboto:wght@400;700&display=swap'); // do zrobienia z api