.page {
    @include centering;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.header {
    position: fixed;
    width: 100%;
    height: 100vh;
    flex-basis: 100%;
    flex-grow: 1;
    overflow-x: hidden;
    z-index: -999;



}

.about {

    margin-top: 42vh;

    @include mq(small) {
        margin-top: 55vh;
    }

}

.section {
    padding: $main-spacing * 3;
    flex-basis: 100%;
    background-color: white;


}