.page {
    @include centering;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.header {
    min-height: 100vh;
    max-height: 100vh;
    flex-basis: 100%;
    flex-grow: 1;
    overflow-x: hidden;



}



.section {
    padding: $main-spacing * 3;
    flex-basis: 100%;


}