.page {
    @include flex-box (row, start, stretch);
    @include centering;
    flex-wrap: wrap;

}

.header {
    min-height: 100vh;
    max-height: 100vh;
    flex-basis: 100%;
    flex-grow: 1;
    overflow-x: hidden;



}

.section {
    padding: 2rem;
    flex-basis: 100%;


}

.submission-button-wrapper {
    margin: 20px auto;
    height: 20vh;
    width: 52%;


}