@mixin centering ($top:0, $bottom:0) {

    margin: $top auto $bottom;

}

@mixin position ($postition:static, $top:0, $right:$top, $bottom:$top, $left:$right) {
    position: $postition;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}





@mixin link-style-reset {

    color: black;
    text-decoration: none;

}



@mixin mq ($breakpoint) {

   

    @if map-has-key($breakpoints, $breakpoint) {
    
        @media (min-width: map-get($breakpoints, $breakpoint)) {
          @content;
        }
    }

    @else {
        @error 'No value found for `#{$breakpoint}`.'
    }

}