@mixin centering ($top:0, $bottom:0) {

    margin: $top auto $bottom;

}

@mixin position ($postition:static, $top:0, $right:$top, $bottom:$top, $left:$right) {
    position: $postition;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin rect ($height, $width) {
    height: $height;
    width: $width;

}

@mixin text-border {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@mixin link-style-reset {

    color: black;
    text-decoration: none;

}

@mixin title-font-style ($font-size, $line-height) {
    text-transform: uppercase;
    font: normal normal $font-size/$line-height;
    font-family: $title-font;
}



@mixin mq ($breakpoint) {

    $size: map-get($breakpoints, $breakpoint);

    @if($size) {
        @media #{$size} {
            @content;
        }
    }

    @else {
        @error 'No value found for `#{$breakpoint}`.'
    }

}