@mixin flex-box($direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin centering ($top:0, $bottom:0) {

    margin: $top auto $bottom;

}

@mixin position ($postition:static, $top:0, $right:$top, $bottom:$top, $left:$right) {
    position: $postition;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin rect ($height, $width) {
    height: $height;
    width: $width;

}

@mixin text-border {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@mixin link-style-reset {

    color: black;
    text-decoration: none;

}

@mixin title-font-style ($font-size, $line-height) {
    text-transform: uppercase;
    font: normal normal $font-size/$line-height;
    font-family: $title-font;
}







@mixin for-phone-landscape {
    @media (min-width:501px) {
        @content;
    }
}

// dodaj jeszcze układ landscape do tego jeszcze taka dobra praktyka

@mixin for-huge-phone {
    @media(min-width: 601px) {
        @content;
    }
}

@mixin for-small-tablet {
    @media(min-width: 701px) {
        @content;
    }
}

@mixin for-tablet {
    @media(min-width:901px) {
        @content;
    }
}

@mixin for-small-desktop {
    @media(min-width:1029px) {
        @content;
    }
}



@mixin for-normal-desktoop {
    @media(min-width:1281px) {
        @content;
    }
}

@mixin for-big-desktop {
    @media(min-width:1601px) {
        @content;
    }

}

@mixin for-huge-desktop {
    @media(min-width:1921px) {
        @content;
    }

}