$main-background-color:#E5E5E5;
$main-font-color:#FCFDFB;
$gray:#808080;
$transparent-gray:rgba(90, 108, 121, 0.12);
;
$main-button-color:
/* #5C52F7 */
#0095da;
$transparent-blue:
/* #5C52F7 */
rgba(0, 149, 218, 0.7);



$title-font:'Roboto',
sans-serif;
$main-font: 'Roboto Condensed',
sans-serif;
$root-font-size:16px;
$main-spacing: 10px;


$primary-font-color:#0f3a53;
//#016492


//menu
$menu-height: 285px;
$nav-bar-heigth: 60px;

//burger
$burger-dimensions:("height" :30px, "width":42px, "burger-span-height": 5px);


:root {
    --loader-color: #1c89ff;
    /* font-size: $root-font-size; */
}