@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,400&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 auto 0;
  max-width: 1600px;
  min-height: 200vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header {
  min-height: 100vh;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section {
  padding: 2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.header {
  position: relative;
  background-image: url("/assets/dach-320px-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-transition: .1s;
  transition: .1s;
}

.header--mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 20%;
}

.header__title, .header__slogan {
  color: #FCFDFB;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}

.header__title {
  letter-spacing: .2rem;
  margin-top: 50%;
  font: normal bold 3.125rem/3.687rem "Roboto", sans-serif;
  text-transform: uppercase;
}

.header__slogan {
  margin-top: 20%;
  font: italic normal 1.625rem/2.5rem "Roboto Condensed", sans-serif;
}

.menu {
  position: fixed;
  width: 100%;
  max-width: 100%;
  top: -315.6px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: rgba(0, 0, 0, 0.21);
  /* rgba(#111111, 0.99); */
  /*  $main-button-color */
  -webkit-box-shadow: inset 20px 20px 100px rgba(0, 0, 0, 0.25);
          box-shadow: inset 20px 20px 100px rgba(0, 0, 0, 0.25);
  opacity: .98;
  z-index: 999;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: .3s .2s;
  transition: .3s .2s;
  padding: 0;
}

.menu__logo {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.menu__nav-bar {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
}

.menu__navigation {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding-left: 2rem;
}

.menu__list-item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-right: 10px;
}

.menu__link {
  color: black;
  text-decoration: none;
  width: 100%;
  font: normal normal 1.625rem/2em "Roboto", sans-serif;
  display: block;
  color: white;
  text-transform: uppercase;
  padding: 0.8rem 0 0.8rem 0;
  border-bottom: 1px solid white;
}

.menu__link:hover {
  color: #0095da;
  border-bottom: 1px solid #0095da;
}

.menu--open {
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.99);
}

.menu--hidden {
  top: -390.6px;
  left: 0;
}

.burger {
  /* popracować jeszcze z właściwością outline tutaj */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 34px;
  width: 47px;
  margin-left: auto;
  margin-right: 1rem;
  padding: 0;
  background-color: transparent;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  /* cursor: pointer; */
  overflow: hidden;
}

.burger__element, .burger::before, .burger::after {
  height: 5px;
  width: 95%;
  border-radius: 20px;
  background-color: #0095da;
}

.burger::before {
  content: '';
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -webkit-transition: .3s .1s;
  transition: .3s .1s;
}

.burger__element {
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.burger::after {
  content: '';
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: .3s .1s;
  transition: .3s .1s;
}

.burger--active > .burger__element {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  opacity: 0;
}

.burger--active::before {
  -webkit-transform: translate(0, 14.5px) rotate(45deg);
          transform: translate(0, 14.5px) rotate(45deg);
}

.burger--active::after {
  -webkit-transform: translate(0, -14.5px) rotate(-45deg);
          transform: translate(0, -14.5px) rotate(-45deg);
  /* minus pół kontenera oraz pół wysokości elementu */
  /* &--active::after */
}

.section {
  overflow: hidden;
}

.section__title {
  margin-bottom: 3rem;
  padding-bottom: 1.3rem;
  font: normal normal 1.625rem/2.5rem "Roboto", sans-serif;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
}

.article__content {
  font: normal 300 1.14rem/1.5rem "Roboto Condensed", sans-serif;
  opacity: 0;
  -webkit-transition: 1.5s .2s;
  transition: 1.5s .2s;
  -webkit-transform: translateY(-4%);
          transform: translateY(-4%);
}

.article__content--into-view {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.article__image {
  padding: 2rem;
  width: 256px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 1s .2s;
  transition: 1s .2s;
  opacity: 0;
}

.article__image--into-view {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.article:nth-of-type(even) .article__image {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 1;
}

.article:nth-of-type(even) .article__image--into-view {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.offer {
  padding: 2rem;
}

.offer__slogan {
  margin: 2rem 0 4rem 0;
  padding-right: 4rem;
  font: italic 300 1.125rem/1.5em "Roboto Condensed", sans-serif;
  color: #808080;
}

.list-wrapper {
  height: 50px;
  -webkit-transition: .5s;
  transition: .5s;
}

.list-wrapper__list-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.list-wrapper__title {
  position: relative;
  width: 88%;
  padding-left: 1rem;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  font: normal normal 1.125rem/45px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: default;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  background-image: url("/assets/arow-up-down.svg");
  background-position: 95% 100%;
  background-repeat: no-repeat;
}

.list-wrapper__title--active {
  background-color: #0095da;
  color: #FCFDFB;
  background-position-y: 3%;
}

.list-wrapper__list {
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
  margin-bottom: 10px;
  height: 0px;
  padding: 20px 70px 20px 14px;
  z-index: -10;
}

.list-wrapper__list--active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  height: auto;
}

.list-wrapper__item {
  font: normal 300 1rem/1.5rem "Roboto Condensed", sans-serif;
  padding: 0.1rem 0;
}

.gallery__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 550px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 550px));
  grid-auto-flow: max-content;
  min-width: 100%;
  grid-gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__image {
  width: 100%;
}

.contact__item {
  width: 50%;
}

.contact__content-name {
  font: normal normal 1.125rem/1.3em "Roboto", sans-serif;
}

.contact__content {
  margin: 0.5rem 0 1rem;
  font: normal 300 1rem/1.5em "Roboto Condensed", sans-serif;
}

.contact__map {
  margin-top: 2rem;
}

.contact__image {
  width: 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  width: 100%;
  background-color: rgba(90, 108, 121, 0.12);
}

.footer__content {
  font: 300 normal 0.5rem/3.125em "Roboto Condensed", sans-serif;
}
/*# sourceMappingURL=style.css.map */