@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,400&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes shake {
  10% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  14% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  16% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes shake {
  10% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  14% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  16% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes background-move {
  100% {
    background-position-x: -200px;
  }
}

@keyframes background-move {
  100% {
    background-position-x: -200px;
  }
}

@-webkit-keyframes text-move {
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes text-move {
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 auto 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header {
  min-height: 100vh;
  max-height: 100vh;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-x: hidden;
}

.section {
  padding: 2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.page--resize-animation-stopper * {
  -webkit-transition: none !important;
  transition: none !important;
  -webkit-animation: none !important;
          animation: none !important;
}

.header {
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: background-move 60s ease infinite alternate;
          animation: background-move 60s ease infinite alternate;
  background: url("https://github.com/greg2012201/Krakow-Dachy-pogotowie-dachowe/blob/master/assets/house-2762600_1280.jpg?raw=true") no-repeat fixed;
  background-size: 702px 100vh;
}

@media (min-width: 501px) {
  .header {
    background-size: 801px 100vh;
  }
}

@media (min-width: 601px) {
  .header {
    background-size: 1101px 100vh;
  }
}

@media (min-width: 901px) {
  .header {
    background-size: 1304px 100vh;
  }
}

@media (min-width: 1029px) {
  .header {
    background-image: url("https://raw.githubusercontent.com/greg2012201/Krakow-Dachy-pogotowie-dachowe/master/assets/house-2762600_1920.jpg");
    background-size: 1501px 100vh;
  }
}

@media (min-width: 1281px) {
  .header {
    background-size: 1901px auto;
  }
}

@media (min-width: 1601px) {
  .header {
    background-image: url("https://github.com/greg2012201/Krakow-Dachy-pogotowie-dachowe/blob/master/assets/house-huge.jpg?raw=true");
    background-size: calc(100% + 200px) auto;
  }
}

@media (min-width: 1921px) {
  .header {
    background-image: url("https://github.com/greg2012201/Krakow-Dachy-pogotowie-dachowe/blob/master/assets/house-huge.jpg?raw=true");
  }
}

.header--mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100vh;
  opacity: 20%;
}

.header__title, .header__slogan {
  color: #FCFDFB;
  text-align: center;
}

.header__title {
  letter-spacing: .2rem;
  margin-top: 30vh;
  font: normal bold 3.125rem/3.687rem "Roboto", sans-serif;
  text-transform: uppercase;
  -webkit-transform: translate(-2px, -20px);
          transform: translate(-2px, -20px);
}

@media (min-width: 501px) {
  .header__title {
    -webkit-transform: translate(-20px, -25px);
            transform: translate(-20px, -25px);
  }
}

@media (min-width: 701px) {
  .header__title {
    font-size: 3.5rem;
  }
}

@media (min-width: 901px) {
  .header__title {
    -webkit-transform: translate(-30px, -40px);
            transform: translate(-30px, -40px);
    font-size: 4rem;
    letter-spacing: .3rem;
  }
}

@media (min-width: 1029px) {
  .header__title {
    font-size: 4.5rem;
    letter-spacing: .5rem;
  }
}

@media (min-width: 1281px) {
  .header__title {
    font-size: 5rem;
    letter-spacing: .6rem;
  }
}

@media (min-width: 1601px) {
  .header__title {
    font-size: 5.5rem;
    letter-spacing: .8rem;
  }
}

@media (min-width: 1921px) {
  .header__title {
    font-size: 7rem;
    letter-spacing: 1rem;
  }
}

.header__title--into-view {
  -webkit-animation: move 20s ease both;
          animation: move 20s ease both;
}

.header__slogan {
  margin: 15vh auto;
  width: 70%;
  margin-top: 15vh;
  font: italic normal 1.625rem/2.5rem "Roboto Condensed", sans-serif;
  opacity: 80%;
}

@media (min-width: 501px) {
  .header__slogan {
    margin-top: 8vh;
  }
}

@media (min-width: 601px) {
  .header__slogan {
    -webkit-transform: translate(20px, 30px);
            transform: translate(20px, 30px);
  }
}

@media (min-width: 701px) {
  .header__slogan {
    font-size: 2rem;
  }
}

@media (min-width: 901px) {
  .header__slogan {
    -webkit-transform: translate(30px, 40px);
            transform: translate(30px, 40px);
  }
}

@media (min-width: 1029px) {
  .header__slogan {
    font-size: 2.2rem;
  }
}

@media (min-width: 1601px) {
  .header__slogan {
    font-size: 2.8rem;
  }
}

.header__slogan--into-view {
  -webkit-animation: move 20s ease both;
          animation: move 20s ease both;
}

.menu {
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 286px;
  top: -210px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: rgba(0, 0, 0, 0.21);
  /* rgba(#111111, 0.99); */
  /*  $main-button-color */
  -webkit-box-shadow: inset 20px 20px 100px rgba(0, 0, 0, 0.25);
          box-shadow: inset 20px 20px 100px rgba(0, 0, 0, 0.25);
  opacity: .98;
  z-index: 999;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: .3s .2s;
  transition: .3s .2s;
  padding: 0;
}

@media (min-width: 1029px) {
  .menu {
    top: 0;
    left: 0;
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1601px) {
  .menu {
    top: 0;
    left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

@media (min-width: 1029px) {
  .menu__logo {
    width: 220px;
  }
}

@media (min-width: 1281px) {
  .menu__logo {
    width: 235px;
  }
}

@media (min-width: 1601px) {
  .menu__logo {
    width: 300px;
  }
}

.menu__nav-bar {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
  height: 76px;
  cursor: pointer;
}

@media (min-width: 1029px) {
  .menu__nav-bar {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    height: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.menu__navigation {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding-left: 2rem;
}

@media (min-width: 1029px) {
  .menu__navigation {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    margin-right: 5%;
    height: 100%;
  }
}

.menu__list-item {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

@media (min-width: 1029px) {
  .menu__list-item {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
    margin-left: 4em;
  }
}

.menu__link {
  color: black;
  text-decoration: none;
  width: 100%;
  font: normal normal 1.4rem/2em "Roboto", sans-serif;
  letter-spacing: .1rem;
  display: block;
  color: #FCFDFB;
  text-transform: uppercase;
  padding: 0.2rem 0 0.2rem 0;
  border-bottom: 1px solid white;
  -webkit-transition: .2s;
  transition: .2s;
}

@media (min-width: 1029px) {
  .menu__link {
    font-size: 1.3rem;
  }
}

@media (min-width: 1281px) {
  .menu__link {
    margin-top: 6px;
    font-size: 1.6rem;
  }
}

@media (min-width: 1601px) {
  .menu__link {
    font-size: 2rem;
  }
}

.menu__link:hover {
  color: #0095da;
  border-bottom: 1px solid #0095da;
}

.menu--open {
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.99);
}

.menu--hidden {
  top: -286px;
  left: 0;
}

.burger {
  /* popracować jeszcze z właściwością outline tutaj */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 34px;
  width: 47px;
  margin-left: auto;
  margin-right: 1rem;
  padding: 0;
  background-color: transparent;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  /* cursor: pointer; */
  overflow: hidden;
}

@media (min-width: 1029px) {
  .burger {
    display: none;
  }
}

.burger__element, .burger::before, .burger::after {
  height: 5px;
  width: 95%;
  border-radius: 20px;
  background-color: #0095da;
}

.burger::before {
  content: '';
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -webkit-transition: .3s .1s;
  transition: .3s .1s;
}

.burger__element {
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.burger::after {
  content: '';
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: .3s .1s;
  transition: .3s .1s;
}

.burger--active > .burger__element {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  opacity: 0;
}

.burger--active::before {
  -webkit-transform: translate(0, 14.5px) rotate(45deg);
          transform: translate(0, 14.5px) rotate(45deg);
}

.burger--active::after {
  -webkit-transform: translate(0, -14.5px) rotate(-45deg);
          transform: translate(0, -14.5px) rotate(-45deg);
  /* minus pół kontenera oraz pół wysokości elementu */
  /* &--active::after */
}

.section {
  overflow: hidden;
}

.section__title {
  margin-bottom: 3rem;
  padding-bottom: 1.3rem;
  font: normal normal 1.625rem/2.5rem "Roboto", sans-serif;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 501px) {
  .article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
  }
}

.article__content {
  font: normal 300 1.14rem/1.5rem "Roboto Condensed", sans-serif;
  opacity: 0;
  -webkit-transition: 1.5s .2s;
  transition: 1.5s .2s;
  -webkit-transform: translateY(-4%);
          transform: translateY(-4%);
}

@media (min-width: 1029px) {
  .article__content {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 1281px) {
  .article__content {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1601px) {
  .article__content {
    font-size: 2.3rem;
    line-height: 2.9rem;
  }
}

@media (min-width: 1921px) {
  .article__content {
    font-size: 2.6rem;
    line-height: 3.5rem;
  }
}

.article__content--into-view {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

@media (min-width: 501px) {
  .article__content {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.article__image {
  padding: 2rem;
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 1s .2s;
  transition: 1s .2s;
  opacity: 0;
}

@media (min-width: 501px) {
  .article__image {
    width: 40%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.article__image--into-view {
  -webkit-transform: translateX(0) rotate(-360deg);
          transform: translateX(0) rotate(-360deg);
  opacity: 1;
}

.article:nth-of-type(even) .article__image {
  -webkit-transform: translateX(-100%) rotate(-360deg);
          transform: translateX(-100%) rotate(-360deg);
  opacity: 0;
}

@media (min-width: 501px) {
  .article:nth-of-type(even) .article__image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.article:nth-of-type(even) .article__image--into-view {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.offer {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 501px) {
  .offer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.offer__title {
  width: 100%;
}

.offer__slogan {
  width: 100%;
  margin: 2rem 0 4rem 0;
  padding-right: 4rem;
  font: italic 300 1.125rem/1.5em "Roboto Condensed", sans-serif;
  color: #808080;
  -webkit-animation: shake 3s 1s both linear infinite;
          animation: shake 3s 1s both linear infinite;
  text-align: left;
}

.list-wrapper {
  height: 50px;
  -webkit-transition: .5s;
  transition: .5s;
  width: 260px;
}

@media (min-width: 501px) {
  .list-wrapper {
    margin-bottom: 20px;
  }
}

.list-wrapper__list-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.list-wrapper__title {
  position: relative;
  margin-right: 20px;
  padding-left: 1rem;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  font: normal normal 1.125rem/45px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: default;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  background-image: url("https://raw.githubusercontent.com/greg2012201/Krakow-Dachy-pogotowie-dachowe/7e576e05dac10029996600c087cc188a6b2bbcb0/assets/arow-up-down.svg");
  background-position: 95% 100%;
  background-repeat: no-repeat;
}

.list-wrapper__title--active {
  background-color: #0095da;
  color: #FCFDFB;
  background-position-y: 3%;
}

.list-wrapper__list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
  margin-bottom: 10px;
  height: 0px;
  padding: 20px 70px 20px 14px;
  z-index: -10;
  margin-left: 2px;
}

.list-wrapper__list--active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  height: auto;
}

.list-wrapper__item {
  font: normal 300 1rem/1.5rem "Roboto Condensed", sans-serif;
  padding: 0.1rem 0;
}

.gallery__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 550px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 550px));
  grid-auto-flow: max-content;
  min-width: 100%;
  grid-gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__image {
  width: 100%;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 501px) {
  .contact {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact__title {
  width: 100%;
}

.contact__item {
  width: 45%;
}

.contact__content-name {
  font: normal normal 1.125rem/1.3em "Roboto", sans-serif;
}

.contact__content {
  margin: 0.5rem 0 1rem;
  font: normal 300 1rem/1.5em "Roboto Condensed", sans-serif;
}

.contact__map {
  margin-top: 2rem;
}

.contact__image {
  width: 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  width: 100%;
  background-color: rgba(90, 108, 121, 0.12);
}

.footer__content {
  font: 300 normal 0.5rem/3.125em "Roboto Condensed", sans-serif;
}
/*# sourceMappingURL=style.css.map */