/* uwaga do szerokośći użyj % nie vw bo się rozjedzie przy pasku */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    content: "";
    clear: both;
    display: block;


}


body {
    height: 1000vh;

}

nav {
    display: block;
    text-align: right;


}

ul {
    list-style: none;
    /*  margin-left: 60%; */

}

li {
    display: inline-block;
    margin-right: 20px;


}


a {
    display: block;
    scroll-behavior: smooth;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.about {
    position: absolute;
    left: 40%;
    top: 100%;
}

.offer {

    position: absolute;
    left: 40%;
    top: 250%;
}