<!DOCTYPE html>
<html lang="PL-pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
        <title>Mar Bud Pogotowie Dachowe</title>
    </head>

    <body class=
    "page">
    <!-- ustaw koniecznie tabindexy w zależności od potrzeb -->  <nav class="menu">
            <ul class="menu__navigation">
                <li class="menu__list-item">
                    <a data-destination ="about" href="#" class="menu__link">o nas</a>
                </li>
                <li class="menu__list-item">
                    <a data-destination ="offer" href="#" class="menu__link" >oferta</a>
                </li>
                <li class="menu__list-item">
                    <a data-destination ="gallery" href="#" class="menu__link">galeria</a>
                </li>
                <li class="menu__list-item">
                    <a data-destination ="contact" href="#" class="menu__link">kontakt
                    </a>
                </li>
                                
                        </ul>
                           <div class="menu__nav-bar"> 
                               <div class="logo" data-destination ="header" tabindex="1">
                               <img class="logo__image" src="images/logo.svg" alt="człowiek
                                na dachu" data-destination="header">
                                <div class="logo__text-container">
                                <p class="logo__text">Mar-Bud<br> Marcin Sieńko</p> 
                                <p class="logo__text">Pogotowie Dachowe prace wysokościowe</p> 
                            </div>
                            </div>
                            <button class="burger" ><!-- type="menu" -->
                                <span class="burger__element"></span>
                            </button>
                        </div>
                            
                
                        </nav>
                        <header class="header">
                            <picture>
                                <source class="header__image"  media="(min-width:501px)" srcset="images/house-2762600_1280.jpg">
                                <source class="header__image" media="(min-width:901px)" srcset="images/house-2762600_1920.jpg">
                                <source class="header__image" media="(min-width:1029px)" srcset="images/house-huge.jpg">
                               
                                <img class="header__image" src="images/house-2762600_640.jpg" alt="">
                            </picture>
                            
                            <div class="header--mask"></div>
                           
                            </header>
    <div class="smooth-scroll-container">
    <div class="slogan">
        <h1 class="slogan__title">pogotowie dachowe</h1>
        <h3 class="slogan__motto">Suchy, szczelny dach jest podstawą każdego domu.</h3>
    </div>

        <section class="about section">
            <h2 class="about__title section__title">o nas</h2>
            <article class="article">
                <p class="article__content">Działalność gospodarczą prowadzimy od 2003. Nasza firma specializuje się w świadczeniu usług w ramach "Pogotowia Dachowego" polegających na szybkiej naprawie dachu w przypadku jego przecieku. Dachy są szczególnie narażone na przeciekanie jeżeli są nieodpowiednio konserwowane lub źle pokryte.
                    Pogotowie dachowe stworzyliśmy, aby szybko interweniować w nagłej sytuacji losowej Państwa dachu.
                    </p>
                    
                <img class="article__image" src="images/pogotowie 1.svg" alt="pogotowie">
            </article>
            <article class="article">
                <p class="article__content">Naszym głównym atutem jest to, że reagujemy tak szybko jak to tylko możliwe włączając również weekendy.  Uważamy że suchy, szczelny dach jest podstawą każdego domu. Dlatego naprawa dachu powinna zostać wykonana jak najszybciej po zauważeniu przecieku.</p>
                <img class="article__image" src="images/czas.svg" alt="zegar">
            </article>
            <article class="article">
                <p class="article__content">Zajmujemy się najmniejszymi zleceniami począwszy od drobnych zacieków takich jak nieszczelne rynny dachowe, nieszczelności przy kominach, drobne zacieki w lokalach itp, kończąc na kompleksowych remontach dachów krytych papą termozgrzewalną, blachą lub dachówką. Naszym kolejnym atutem jest fakt że do wszelkich prac wysokościowych takich jak usuwanie tynków, montaż kolców na ptaki i tym podobnych, wykorzystujemy techniki dostępu linowego.</p>
                <img class="article__image" src="images/narzędzia.svg" alt="narzędzia">
            </article>

        </section>
        <section class="offer section">
            <h3 class="offer__title section__title">oferta</h3>
            <h4 class="offer__slogan">Oględziny oraz wycena wszelkich prac na terenie Krakowa, bezpłatnie. </h4>
            <div class="accordion">
                <button class="accordion__button button">pogotowie dachowe</button>
                <div class="accordion__list-container">
                <ul class="accordion__list">
                    <li class="accordion__item">szybkie prace zabezpieczające dach przed przeciekaniem</li>
                    <li class="accordion__item">naprawa dachów pokrytych blachodachówką</li>
                    <li class="accordion__item">naprawa dachów dachówką ceramiczną jak również dachówką betonową</li>
                    <li class="accordion__item">naprawa dachów obiektów zabytkowych</li>
                    
                </ul>
            </div>
            
            </div>
            <div class="accordion">
                <button class="accordion__button button">usługi dekarskie</button>
                <div class="accordion__list-container">
                <ul class="accordion__list">
                    <li class="accordion__item">naprawa dachów pokrytych papą termozgrzewalną</li>
                    <li class="accordion__item">wymiana koszy</li>
                    <li class="accordion__item">instalacja okien dachowych</li>
                    <li class="accordion__item">instalacja rynien, rur, gzymsów</li>
                    <li class="accordion__item">ofasowania, parapety</li>
                    <li class="accordion__item">naprawa dachów pokrytych dachówką ceramiczna jak równiez dachówką betonową</li>
                    <li class="accordion__item">naprawa dachów obiektów zabytkowych</li>
                    <li class="accordion__item">remont dekarsko blacharski
                        krycie dachów</li>
                    <li class="accordion__item">układanie dachów blaszanych</li>
                    <li class="accordion__item">sprzedaż pokryć dachowych</li>
                    <li class="accordion__item">docieplanie dachów</li>
                    <li class="accordion__item">kompletny remont kominów</li>
                    
                </ul>
                </div>
            
            </div>
            <div class="accordion">
                <button class="accordion__button button">prace wysokościowe </button>
                <div class="accordion__list-container">
                <ul class="accordion__list">
                    <li class="accordion__item">mycie fasad pod ciśnieniem</li>
                    <li class="accordion__item">mycie szyb</li>
                    <li class="accordion__item">odbijanie tynków</li>
                    <li class="accordion__item">wyprawianie ubytków</li>
                    <li class="accordion__item">montaż okapów balkonowych</li>
                    <li class="accordion__item">montaż zabezpieczeń przeciw ptakom </li>
                    <li class="accordion__item">montaż siatek elewacyjnych</li>
                    <li class="accordion__item">odśnieżanie</li>
                    <li class="accordion__item">okucie lodów sopli</li> 
                </ul>
            </div>
            </div>

        </section>
        <section class="gallery section">
            <h3 class="gallery__title section__title">Galeria</h3>
<div class="gallery__container">
            <img class="gallery__image" src="./images/galery/Marcin.png" alt="człowiek na dachu">
            <img class="gallery__image" src="./images/galery/photo1.png" alt="dach">
            <img class="gallery__image" src="./images/galery/photo2.png" alt="dach">
            <img class="gallery__image" src="./images/galery/photo3.png" alt="dach">
            <img class="gallery__image" src="./images/galery/photo4.png" alt="dach">
            <img class="gallery__image" src="./images/galery/photo5.png" alt="dach">
            <img class="gallery__image" src="./images/galery/photo6.png" alt="dach">
            <img class="gallery__image" src="./images/galery/photo7.png" alt="dach">
            <img class="gallery__image" src="./images/galery/photo9.png" alt="dach">
            <img class="gallery__image" src="./images/galery/photo10.png" alt="dach">
            <img class="gallery__image" src="./images/galery/photo11.png" alt="dach">
            <img class="gallery__image" src="./images/galery/photo12.png" alt="dach">
            <img class="gallery__image" src="./images/galery/photo13.png" alt="dach">
            <img class="gallery__image" src="./images/galery/photo14.png" alt="dach">
            <img class="gallery__image" src="./images/galery/photo15.png" alt="dach">
            <img class="gallery__image" src="./images/galery/photo16.png" alt="dach">
            <img class="gallery__image" src="./images/galery/photo17.png" alt="dach">
            <img class="gallery__image" src="./images/galery/photo18.png" alt="dach">
            <img class="gallery__image" src="./images/galery/photo18.png" alt="dach">
           
        </div>    
        </section>
        <section class="contact section">
           
            <h3 class="contact__title section__title">Kontakt</h3>
           
                <form class="form" >
                    <div class="form__header"><h6 class="form__title">Napisz do nas</h6></div>
                    <label class="form__label form__label--name" for="name">imię</label><input id="name" class="form__input form__input--name" name="name"  type="text" required>
                    <label class="form__label form__label--email" for="email">e-mail</label><input class="form__input form__input--email" name="email" type="email" required>
                    <label class="form__label form__label--message" for="message">wiadomość</label>
                    <textarea name="message"  cols="30" rows="3" required class="form__input form__input--text-area"></textarea>
                   <div class="form__privacy-container">
                       <div class="popup">
                           <button type="button" class="popup__button">&#x2716;</button>
                           <p class="popup__content">Wyrażam zgode na przetwarzanie danych osobowych zgodnie z ustawą o ochronie danych osobowych w związku z wysłaniem zapytania przez formularz kontaktowy. Podanie danych jest dobrowolne, ale niezbędne do przetwarzania zapytania. Zostałem poinformowany, że przysługuje mi prawo dostępu do swoich danych, możliwości ich poprawiania, żądania zaprzestania ich przetwarzania. Administratorem danych osobowych jest Mar Bud Marcin Sieńko, ul. Stachiewicza 17, 31-303 Kraków</p>
                    <div class="popup__element-square"></div>
                       </div>
                     <label for="form__checkbox" class="form__checkbox--label form__label">Zapoznałem się z informacją o <a href="#popup--information" class="form__checkbox--link">przetwarzaniu danych osobowych.</a></label>
                     <input required ="required" id="checkbox" type="checkbox"  name="form__checkbox" class="form__checkbox form__input">
                
                    </div>
                  
                 <div class="submission-button-wrapper">    
                    <button class="form__button button " type="submit">Wyślij</button>
                        
                        <div class="loader">
                          <div class="loader__check">
                          </div>
                        </div>
                        
                        </div>   
                  

                </form>
                <section class="informations"> 
                    <section class="informations__item"> 
                        <span class="far fa-building informations__image"></span>
                     <p class="informations__content">Mar Bud<br>Pogotowie Dachowe<br>Marcin Sieńko</p>
                 </section>
                    <section class="informations__item"> 
                        <span class="fas fa-map-marked-alt informations__image"></span>
                   <p class="informations__content">ul. Stachiewicza 17,<br>31-303 Kraków</p>
                 </section>
                    
                    <section class="informations__item"> 
                        <span class="far fa-envelope informations__image"></span>
                     <p class="informations__content">marcinsienko@<br>poczta.fm</p>
                     
                 </section>
                 <section class="informations__item"> 
                     <span class="fas fa-mobile-alt informations__image"></span>
                    <p class="informations__content">504 180 270</p>
                 </section>
                 
                 </section>
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.158742403099!2d19.91516021554902!3d50.083314721631744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165a4ce3499591%3A0x1ba5fa39527120e6!2sPiotra%20Stachiewicza%2017%2C%2031-303%20Krak%C3%B3w!5e0!3m2!1spl!2spl!4v1609588971867!5m2!1spl!2spl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
         
       </section>
    
        
       
           

     <footer class="footer"><p class="footer__content">Copyright &copy; 2020 Grzegorz Dubiel | greg2012201@gmail.com</p>
    
    </footer>
</div>

    <script src="https://kit.fontawesome.com/45a7790e5a.js" crossorigin="anonymous"></script>
    </body>
</html>
