@keyframes shake {

    10% {
        transform: translateX(-10px)
    }


    14% {
        transform: translateX(20px)
    }


    16% {
        transform: translateX(-10px)
    }

    20% {
        transform: translateX(0px)
    }

}

@keyframes background-move {

    100% {
        background-position-x: -200px;
    }


}

@keyframes move {

    100% {
        transform: translate(0, 0);

    }


}

@keyframes visible {

    100% {
        opacity: 1;
    }
}