.article {

    display: flex;
    flex-direction: column;
    max-width: 100%;


    &__content {

        font: normal 300 1.14rem/1.5rem $main-font;
        opacity: 0;
        transition: 1.5s .2s;
        transform: translateY(-4%);

        &--into-view {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &__image {

        padding: 2rem;
        width: 256px;
        align-self: center;
        transform: translateX(100%);
        transition: 1s .2s;
        opacity: 0;



        &--into-view {
            transform: translateX(0) rotate(-360deg);
            opacity: 1;
        }

    }

    &:nth-of-type(even) &__image {

        transform: translateX(-100%) rotate(-360deg);
        opacity: 1;
    }

    &:nth-of-type(even) &__image--into-view {
        transform: translateX(0);
        opacity: 1;
    }


}