.article {

    display: flex;
    flex-direction: column;

    &__content {

        font: normal 300 1.14rem/1.5rem $main-font;
    }

    &__image {
        padding: 2rem 0;
        width: 100%;
        align-self: center;

    }


}