.page {
    @include flex-box (row, start, stretch);
    @include centering;
    max-width: 1600px;
    min-height: 200vh;
    flex-wrap: wrap;
}

.header {
    min-height: 100vh;
    flex-basis: 100%;
    flex-grow: 1;




}

.section {
    padding: 2rem;
    flex-basis: 100%;
}