.list-wrapper {


    height:
        50px;
    transition: .5s;
    width: 260px;






    &__list-container {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    &__title {
        position: relative;


        padding-left: 1rem;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.5);
        ;
        border-radius: 2px;
        font: normal normal 1.125rem/45px $main-font;
        text-transform: uppercase;
        transition: .5s;
        cursor: default;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;



        background-image: url('/assets/arow-up-down.svg'
                /* 'https://greg2012201.github.io/assets/dach-320px-mobile.png' */
            );
        background-position: 95% 100%;
        background-repeat: no-repeat;

        &--active {
            background-color: $main-button-color;
            color: $main-font-color;

            background-position-y: 3%;



        }

    }



    &__list {
        box-sizing: border-box;
        opacity: 0;
        transition: .5s;
        transform: translateY(-1000px);
        margin-bottom: 10px;
        height: 0px;
        padding: 20px 70px 20px 14px;
        z-index: -10;
        margin-left: 2px;


        &--active {
            opacity: 1;
            transform: translateX(0);
            height: auto;


        }
    }

    &__item {
        font: normal 300 1rem/1.5rem $main-font;
        padding: 0.1rem 0;

    }






}