.list-wrapper {


    height:
        50px;
    transition: .5s;
    width:
        260px;








    @include for-phone-landscape {
        margin-bottom: 20px;

    }

    @include for-small-desktop {
        width:

            33%;
    }

    @include for-normal-desktoop {
        width:

            32%;
    }

    @include for-big-desktop {
        width: 33%;
    }

    @include for-huge-desktop {

        width: 620px;
    }


    &__list-container {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    &__title {
        position: relative;

        margin-right: 20px;
        padding-left: 1rem;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.5);
        ;
        border-radius: 2px;
        font: normal normal 1.125rem/45px $main-font;
        text-transform: uppercase;
        transition: .5s;
        cursor: default;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;



        background-image: url('https://raw.githubusercontent.com/greg2012201/Krakow-Dachy-pogotowie-dachowe/497bc5b3d528deb83246341318c1695f79577638/assets/arrow-up-down.svg'
            );
        background-position: 95% 100%;
        background-repeat: no-repeat;

        &:hover {
            cursor: pointer;
            background-color: $main-button-color;


        }

        @include for-small-desktop {
            font-size: 1.4rem;


        }

        @include for-normal-desktoop {
            font-size: 2rem;
            line-height: 59px;
            background-image: url('https://raw.githubusercontent.com/greg2012201/Krakow-Dachy-pogotowie-dachowe/497bc5b3d528deb83246341318c1695f79577638/assets/arrow-up-down-normal-desktop.svg'
                );
        }

        @include for-big-desktop {
            font-size: 2.5rem;
            line-height: 67px;
            background-image: url('https://raw.githubusercontent.com/greg2012201/Krakow-Dachy-pogotowie-dachowe/497bc5b3d528deb83246341318c1695f79577638/assets/arrow-up-down-big-desktop.svg'
                );

        }

        @include for-huge-desktop {
            font-size: 3rem;
            line-height: 75px;
            background-image: url('https://raw.githubusercontent.com/greg2012201/Krakow-Dachy-pogotowie-dachowe/497bc5b3d528deb83246341318c1695f79577638/assets/arrow-up-down-huge-desktop.svg'
                );
        }

        &--active {
            background-color: $main-button-color;
            color: $main-font-color;

            background-position-y: 3%;



        }

    }



    &__list {
        box-sizing: border-box;
        opacity: 0;
        transition: .5s;
        transform: translateY(-1000px);
        margin-bottom: 10px;
        height: 0px;
        padding: 20px 70px 20px 25px;
        z-index: -10;
        margin-left: 2px;
        font: normal 300 1rem/1.5rem $main-font;

        @include for-small-desktop {

            font-size: 1.2rem;
            line-height: 1.7rem;

        }

        @include for-normal-desktoop {

            font-size: 1.5rem;
            line-height: 1.9rem;

        }

        @include for-big-desktop {

            font-size: 1.8rem;
            line-height: 2.2rem;

        }

        @include for-huge-desktop {

            font-size: 2.1rem;
            line-height: 2.5rem;

        }

        &--active {
            opacity: 1;
            transform: translateX(0);
            height: auto;


        }
    }

    &__item {
        padding: 0.1rem 0;

        @include for-normal-desktoop {

            margin-top: 0.8rem;

        }
    }






}