.menu {
    $menu-height: 286px;
    $nav-bar-heigth: 76px;
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: $menu-height;
    top: -$menu-height + $nav-bar-heigth;
    left: 0;

    @include flex-box(row, end, start);
    background-color: rgba(0, 0, 0, 0.21);
    /* rgba(#111111, 0.99); */
    /*  $main-button-color */
    box-shadow: inset 20px 20px 100px rgba(0, 0, 0, 0.25);
    opacity: .98;
    z-index: 999;
    flex-wrap: wrap;
    transition: .3s .2s;
    padding: 0;


    @include for-small-desktop {
        top: 0;
        left: 0;
        height: 12vh;
        justify-content: space-between;

    }

    @include for-big-desktop {
        top: 0;
        left: 0;
        height: 17vh;
        justify-content: space-between;
    }


    &__logo {
        align-self: center;

        cursor: pointer;

        @include for-small-desktop {

            width: 220px;
        }

        @include for-normal-desktoop {

            width: 235px;
        }

        @include for-big-desktop {

            width: 300px;
        }


    }



    &__nav-bar {
        flex-basis: 100%;
        @include flex-box(row, center, center);
        padding: 10px 10px;
        height: $nav-bar-heigth;
        ;
        cursor: pointer;

        @include for-small-desktop {
            flex-basis: auto;

            height: 100%;
            order: -1;

        }



    }

    &__navigation {
        flex-basis: 90%;
        @include flex-box(row, start, stretch);
        flex-wrap: wrap;
        list-style: none;
        padding-left: 2rem;



        @include for-small-desktop {
            justify-content: flex-end;
            flex-basis: 70%;
            margin-right: 5%;
            height: 100%;


        }



    }

    &__list-item {

        flex-basis: 80%;




        @include for-small-desktop {
            flex-basis: 10%;
            margin-left: 4em;
        }



    }

    &__link {
        @include link-style-reset;
        width: 100%;
        font: normal normal 1.4rem/2em $title-font;
        letter-spacing: .1rem;
        display: block;
        color: $main-font-color;
        text-transform: uppercase;
        padding: 0.2rem 0 0.2rem 0;
        border-bottom: 1px solid white;

        transition: .2s;

        @include for-small-desktop {

            font-size: 1.3rem;
        }

        @include for-normal-desktoop {
            margin-top: 6px;
            font-size: 1.6rem;
        }

        @include for-big-desktop {

            font-size: 2rem;
        }


        &:hover {

            color: $main-button-color;
            border-bottom: 1px solid $main-button-color;
        }
    }


    &--open {
        top: 0;
        left: 0;
        background-color: rgba(#111111, 0.99);
        ;
    }

    &--hidden {
        top: -$menu-height;
        left: 0;
    }
}