.menu {
    position: fixed;
    width: 100%;
    max-width: 100%;
    top:
        -315.6px;
    left: 0;
    @include flex-box(row, end, start);
    background-color: rgba(0, 0, 0, 0.21);
    /* rgba(#111111, 0.99); */
    /*  $main-button-color */
    box-shadow: inset 20px 20px 100px rgba(0, 0, 0, 0.25);

    /*  height: 80vh; */
    opacity: .98;
    z-index: 999;
    flex-wrap: wrap;
    transition: .3s .2s;
    padding: 0;



    &__logo {
        flex-basis: 100%;
    }



    &__nav-bar {
        flex-basis: 100%;
        @include flex-box(row, center, center);
        padding: 10px 10px;


    }

    &__navigation {
        flex-basis: 90%;
        @include flex-box(row, start, stretch);
        flex-wrap: wrap;
        list-style: none;
        padding-left: 2rem;
    }

    &__list-item {
        flex-basis: 100%;
        border-bottom: 1px solid white;
        margin-right: 10px;

    }

    &__link {
        @include link-style-reset;
        width: 100%;
        font: normal normal 1.625rem/2em $title-font;
        display: block;
        color: white;
        text-transform: uppercase;
        padding: 0.8rem 0 0.8rem 0;
    }


    &--droped {
        top: 0;
        left: 0;
        background-color: rgba(#111111, 0.99);
        ;
    }
}