.offer {

    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;




    @media(orientation: landscape) {
        flex-direction: row;

    }




    &__title {
        width: 100%;
    }

    &__slogan {
        width: 100%;
        margin: 2rem 0 4rem 0;
        padding-right: 4rem;
        font: italic 300 1.125rem/1.5em $main-font;
        color: $gray;
        animation: shake 3s 1s both linear infinite;
        text-align: left;
    }
}