.offer {

    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


    @include for-phone-landscape {
        flex-direction: row;
    }

    @include for-huge-desktop {
        justify-content: space-between;
    }


    &__title {
        width: 100%;
    }

    &__slogan {
        width: 100%;
        margin: 2rem 0 4rem 0;
        padding-right: 4rem;
        font: italic 300 1.125rem/1.5em $main-font;
        color: $gray;
        animation: shake 3s 1s both linear infinite;
        text-align: left;

        @include for-huge-phone {
            font-size: 1.3rem;
        }

        @include for-small-tablet {
            font-size: 1.5rem;
        }

        @include for-small-desktop {
            font-size: 1.8rem;
        }

        @include for-normal-desktoop {
            font-size: 2.2rem;
        }

        @include for-big-desktop {
            font-size: 2.8rem;
        }

        @include for-huge-desktop {
            font-size: 3.2rem;
        }
    }
}