$main-background-color:#E5E5E5;
$main-font-color:#FCFDFB;
$gray:#808080;
$transparent-gray:rgba(90, 108, 121, 0.12);
;
$main-button-color:
/* #5C52F7 */
#0095da;

$title-font:'Roboto',
sans-serif;
$main-font: 'Roboto Condensed',
sans-serif;