.article {

    display: flex;
    flex-direction: column;
    font-size: $root-font-size;
    height: 100vh;

    @include mq(extra-small) {
        flex-direction: row;
        justify-content: start;
        flex-wrap: wrap;
        align-content: space-between;
        align-items: center;
    }


    &__content {

        font: normal 300 1em/1.5rem $main-font;
        opacity: 0;
        transition: 1.5s .2s;
        transform: translateY(-4%);
        color: $primary-font-color;

        @include mq(extra-medium) {
            font-size: 1.5em;
            line-height: 2rem;
        }


        @include mq(very-large) {
            font-size: 2em;
            line-height: 1.7em;
        }


        &--into-view {
            transform: translateY(0);
            opacity: 1;
        }


        @include mq(extra-small) {
            flex-basis: 60%;
            align-self: center;
        }
    }

    &__image {

        padding: $main-spacing * 3;
        width: 100%;
        justify-self: center;
        align-self: center;
        transform: translateX(100%);
        transition: 1s .2s;
        opacity: 0;


        @include mq(extra-small) {
            width: 40%;
            align-self: center;
        }


        &--into-view {
            transform: translateX(0) rotate(-360deg);
            opacity: 1;
        }

    }

    &:nth-of-type(even) &__image {

        transform: translateX(-100%) rotate(-360deg);
        opacity: 0;

        @include mq(extra-small) {
            order: -1;
        }
    }

    &:nth-of-type(even) &__image--into-view {
        transform: translateX(0);
        opacity: 1;
    }


}