.burger {
    display: flex;
    /*   @include centering; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: map-get($burger-dimensions, "width");
    height: map-get($burger-dimensions, "height");
    margin-left: auto;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
    overflow: hidden;


    @include mq(extra-medium) {
        display: none;
    }

    &__element,
    &::before,
    &::after {

        height: map-get($burger-dimensions, "burger-span-height");
        width: 95%;
        border-radius: 20px;
        background-color: $burger-color;

    }

    &::before {
        content: '';
        align-self: start;
        transition: .3s .1s;
    }


    &__element {
        transition: .3s linear;
    }



    &::after {
        content: '';
        align-self: flex-end;
        transition: .3s .1s;
    }

    &--active>&__element {
        transform: translate(-100%, 0);
        opacity: 0;
    }

    &--active::before {

        transform: translate(0, set-open-burger-elements-position(map-get($burger-dimensions, "height"), map-get($burger-dimensions, "burger-span-height"))) rotate(45deg);
    }

    &--active::after {

        transform: translate(0, set-open-burger-elements-position(- (map-get($burger-dimensions, "height")), - (map-get($burger-dimensions, "burger-span-height")))) rotate(-45deg);
    }



}