.button {

    padding-left: $main-spacing + 6;
    background: #FFFFFF;
    border: 1px solid $button-border-color;
    font-size: $root-font-size;
    font-weight: bold;
    line-height: $button-height;
    font-family: $main-font;
    color: $button-text-color;
    text-transform: uppercase;

    transition: .5s;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;


    font-size: $root-font-size;

    @include mq(extra-medium) {
        font-size: 1.4em;

        &:hover {
            cursor: pointer;
            color: white;
            background-color: $main-button-background-color;

            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, $transparent-blue 0px 18px 36px -18px inset;
            color: white;


        }

    }


}