.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 $main-spacing * 3;
    height: $footer-height;
    width: 100%;
    background-color: $main-background-color;
    font-size: $root-font-size;
    color: $primary-font-color;

    &__content {


        font: 300 normal 0.5em/3.125em $main-font;

        @include mq(very-small) {
            font-size: 0.6em;
        }

        @include mq(extra-medium) {
            font-size: 0.8em;
        }

        @include mq(large) {
            font-size: 1em;
        }

        @include mq(extra-large) {
            font-size: 1.5em;
        }
    }

    &::before {

        content: '';
        border-top: $footer-border-height solid black;
        width: 100%;
        height: 2px;

    }

}