.form {
    display: flex;
    flex-direction: column;
    @include centering;
    width: 100%;
    padding: 30px;
    /*  border: 1px solid gray; */
    border-radius: 10px;
    font-size: $root-font-size;
    /* background-color: $transparent-gray; */
    /* max-height: 100vh; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


    // inputy na boki przycisk mniejszy i wyśrodkowany
    @include for-phone-landscape {
        // przy refaktorze trzeba wszystkie te selektory umieszczać tutaj (te co są w breakpointach)
        width: 95%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;


    }

    @include for-small-tablet {
        width: 70%;

    }

    @include for-small-desktop {
        font-size: 1.2rem;
    }

    @include for-normal-desktoop {
        width: 50%;
        font-size: 1.4rem;
    }

    @include for-big-desktop {
        width: 50%;
        font-size: 1.6rem;
    }

    @include for-huge-desktop {
        font-size: 1.8rem;
    }

    &__header {
        text-align: left;
        width: 100%;
        height: 100px;
        order: -5;
    }

    &__title {
        text-transform: uppercase;
        font: normal bold 1.5em/1em $title-font;
        color: $transparent-blue;
        letter-spacing: 1px;

    }


    &__label {
        margin: 5px 0 5px;

        font: normal normal 1.125em/1.5em $title-font;
        color: $transparent-blue;

        @include for-phone-landscape {
            flex-basis: 45%;
            align-self: flex-start;


        }

        &--name {
            @include for-phone-landscape {
                order: -4;
            }
        }

        &--email {

            @include for-phone-landscape {

                align-self: flex-end;
                order: -3;



            }

            &--message {
                @include for-phone-landscape {
                    flex-basis: 100%;
                }
            }

        }


    }


    &__input {
        padding: 3px 10px;
        font: normal normal 1em/1.5em $main-font;
        flex-basis: 50%;
        border: none;
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        border-radius: 5px;
        color: $transparent-blue;
        //jeszcze do ostylowania pod względem wyglądu

        @include for-phone-landscape {
            flex-basis: 45%;
            align-self: flex-start;

        }


        &--name {
            @include for-phone-landscape {
                justify-self: flex-start;
            }
        }

        &--email {

            @include for-phone-landscape {
                width: 45%;
                align-self: flex-end;
            }

        }

        &--text-area {
            line-height: 1.2em;

            @include for-phone-landscape {

                flex-basis: 100%;
            }

        }
    }

    &__button {
        margin: 29.2px 0 29.2px;
        font-weight: bold;
        padding: 0 10px;
        text-transform: none;
        @include centering(20px);
        /* width: 35%; */
        transition: .8s;

        border: 1px solid $transparent-blue;
        color: $transparent-blue;
        /*  background-size: 200% auto; */
        border-radius: 10px;

        &:hover {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, $transparent-blue 0px 18px 36px -18px inset;
            color: white;

            background-position: right center;
        }

        &--sending {


            outline: none;

            &:hover {
                box-shadow: none;
                color: $transparent-blue;
                background-color: #fff;




            }

            &::after {

                content: 'Wysyłanie...';




            }

        }



        &--sended {
            background-color: white;
            border: white 1px solid;
            color: green;
            outline: none;


            &::after {

                content: 'Wysłano !';
                outline: hidden;



            }

            &:hover {

                outline: none;
                color: green;
                box-shadow: none;
                background-color: white;
            }
        }

        &--sending-error {
            background-color: white;
            border: white 1px solid;
            color: red;
            outline: none;


            &::after {

                content: 'Błąd !';
                outline: hidden;



            }

            &:hover {

                outline: none;
                color: red;
                box-shadow: none;
                background-color: white;
            }
        }

        @include for-phone-landscape {

            flex-basis: 30%;
            cursor: normal;
        }
    }
}