.gallery {


    &__container {

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 550px));
        grid-auto-flow: max-content;
        min-width: 100%;
        grid-gap: 15px;
        justify-content: center;
    }

    &__image {
        width: 100%;


    }
}