.header {


    position: relative;


    transition: 1s;
    animation: background-move 60s ease infinite alternate;
    overflow: hidden;


    background: url('../images/house-2762600_640.jpg') no-repeat fixed;
    background-size: 702px 100vh;

    font-size: $root-font-size;

    @include mq(extra-small) {
        background-size: 801px 100vh;
    }

    @include mq(very-small) {
        background-size: 1101px 100vh;
    }



    @include mq(medium) {

        background-size: 1304px 100vh;
    }

    @include mq(extra-medium) {
        background-image: url('../images/house-2762600_1920.jpg');
        background-size: 1501px 100vh;
    }

    @include mq(large) {

        background-size: 1901px auto;
    }

    @include mq(very-large) {
        background-image: url('../images/house-huge.jpg');
        background-size: calc(100% + 200px) auto;
    }



    &--mask {

        @include position(absolute, 0, 0);

        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 100%;
        opacity: 20%;

    }

    &__title,
    &__slogan {
        color: $secondary-font-color;
        text-align: center;
    }

    &__title {
        letter-spacing: .2rem;
        margin-top: 30vh;
        font: normal bold 3.125em/3.687rem $title-font;
        text-transform: uppercase;
        transform: translate(-2px, -20px);



        @include mq(extra-small) {
            transform: translate(-20px, -25px);

            /*   margin-top: 8vh; */
        }

        @include mq(small) {
            font-size: 3.5em;
        }

        @include mq(medium) {
            transform: translate(-30px, -40px);
            font-size: 4em;
            letter-spacing: .3rem;
        }

        @include mq(extra-medium) {
            /*  margin-top: 32vh; */
            font-size: 4.7em;


            letter-spacing: .5rem;
        }

        @include mq(large) {
            font-size: 5em;


            letter-spacing: .6rem;
        }

        @include mq(very-large) {
            font-size: 5.5em;


            letter-spacing: .8rem;
        }

        @include mq(extra-large) {
            font-size: 7em;


            letter-spacing: 1rem;
        }

        &--into-view {

            animation: back-to-start-position 20s ease both;
        }


    }

    &__slogan {

        margin: $main-spacing * 4 auto;
        width: 70%;
        font: italic normal 1.625em/2.5rem $main-font;
        opacity: 80%;



        @include mq(extra-small) {
            margin-top: 8vh;

        }

        @include mq(very-small) {

            transform: translate(20px, 30px);
        }

        @include mq(small) {
            font-size: 2em;
        }

        @include mq(medium) {
            transform: translate(30px, 40px);
            font-size: 2.2em;
        }

        @include mq(extra-medium) {
            font-size: 2.8em;
            line-height: 3.6rem;

        }

        @include mq(very-large) {
            font-size: 3.5em;

        }

        @include mq(extra-large) {
            font-size: 3.9em;

        }

        &--into-view {
            animation: back-to-start-position 20s ease both;
        }
    }


}