.informations {
    display: flex;
    width:100%;
    flex-wrap: wrap;
    align-items: center;
    font-size: $root-font-size;

    @include mq(small) {
        @include centering;
    }

    @include mq(medium) {

        @include centering;

    }

    @include mq(extra-medium) {
        font-size: 1.1rem;

    }

    &__image {

        font-size: 3.125em;
        justify-self: center;
        margin-bottom: $main-spacing;
        color: $primary-color;

    }

    &__item {
        flex-basis: 31.4444%;
        margin-top: $main-spacing * 2;
        margin-left: max(5px);
        text-align: center;

    }

    &__content {
        max-width: 100%;
        font: normal 200 0.7em/1.5em $title-font;
        color: rgb(0, 149, 218);
        
        &--link { 
            display: block;
            text-decoration: none;
            cursor: pointer;
            
        }
        
    }
   
}