.informations {

    display: grid;
    grid: 50% 50% / auto auto;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    height: 380px;
    margin: 20px 0 20px;
    font-size: $root-font-size;

    @include for-small-tablet {
        margin: 0 auto;

    }

    @include for-tablet {
        @include centering;
        align-self: center;
        grid: none;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        margin-left: auto;
        height: 20%;
        width: 50%;


    }

    @include for-small-desktop {
        font-size: 1.1rem;

    }

    &__image {

        font-size: 3.125em;
        justify-self: center;
        margin-bottom: 10px;
        color: $primary-color;

    }

    &__item {
        flex-basis: 31.4444%;
        margin-top: 20px;
        margin-left: max(5px);
        text-align: center;

        @include for-phone-landscape {
            flex-basis: 31.1%;

        }

        @include for-huge-phone {
            flex-basis: 20%;
        }

        @include for-small-desktop {

            flex-basis: 35%;
        }

    }

    &__content {
        max-width: 100%;
        font: normal 200 0.7em/1.5em $title-font;
        color: rgb(0, 149, 218);
    }
}