.informations {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 20%;


    @include for-phone-landscape {
        flex-wrap: nowrap;
    }


    &__image {
        font-size: 50px;
        justify-self: center;

    }




    &__item {

        flex-basis: 31.4444%;
        margin-top: 20px;
        margin-left: max(5px);



        @include for-phone-landscape {

            flex-basis: 31.1%;


        }

        @include for-huge-phone {
            flex-basis: 20%;
        }

        @include for-small-desktop {

            flex-basis: 35%;
        }

    }

    &__content-name {

        font: normal normal 1em/1.3em $title-font;




    }

    &__content {

        font: normal 300 0.8em/1.5em $main-font;


    }




}