.list-wrapper {

    height: 50px;
    transition: .5s;
    width: $list-wrapper-width;
    font-size: $root-font-size;
    margin-right: $main-spacing;


    @include mq(extra-small) {
        margin-bottom: $main-spacing * 2;

    }

    @include mq(extra-medium) {
        width: $list-wrapper-width + 42;
    }

    @include mq(large) {
        width: $list-wrapper-width + 120;
    }

    @include mq(very-large) {
        width: $list-wrapper-width + 220;
    }

    @include mq(extra-large) {

        width: ($list-wrapper-width * 2) + 100;

    }


    &__list-container {
        height: 100%;
        width: 100%;
        overflow: hidden;

        @include mq(extra-large) {

            padding-left: $main-spacing;

        }
    }

    &__title {
        width: 100%;
        position: relative;
        margin-right: $main-spacing * 2;
        background-image: url('../images/arrow-up-down.svg'
            );
        background-position: 95% 100%;
        background-repeat: no-repeat;


        @include mq(large) {
            background-image: url('../images/arrow-up-down-normal-desktop.svg'
                );

            font-size: 1.6em;
            line-height: $button-height + 14;
        }

        @include mq(very-large) {

            background-image: url('../images/arrow-up-down-big-desktop.svg'
                );
            font-size: 1.8em;
            line-height: $button-height + 22;

        }

        @include mq(extra-large) {

            background-image: url('../images/arrow-up-down-huge-desktop.svg');
            font-size: 2em;
            line-height: $button-height + 30;
        }

        &--active {
            background-color: $main-button-background-color;
            color: $secondary-font-color;
            background-position-y: 3%;
        }

    }



    &__list {
        box-sizing: border-box;
        opacity: 0;
        transition: .5s;
        transform: translateY(-1000px);
        margin-bottom: $main-spacing;
        margin-left: 2px;
        height: 0px;
        padding: $main-spacing * 2 $main-spacing * 7 $main-spacing * 2 ($main-spacing * 2) + 5;
        z-index: -10;

        font: normal 300 1em/1.5rem $main-font;
        list-style-type: circle;

        @include mq(extra-medium) {

            font-size: 1.2em;
            line-height: 1.7rem;

        }

        @include mq(large) {

            font-size: 1.5em;
            line-height: 1.9rem;

        }

        @include mq(very-large) {

            font-size: 1.8em;
            line-height: 2rem;

        }



        &--active {
            opacity: 1;
            transform: translateX(0);
            height: auto;


        }


    }

    &__item {
        padding: $main-spacing - 8.4 0;
        margin-top: $main-spacing - 2;


        @include mq(large) {

            margin-top: $main-spacing + 2.8;

        }

        &::marker {
            content: '☞ ';
            color: $primary-color;




        }
    }

}