@import '../sass/animations';


*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.loader {

    display: flex;
    width: 40px;
    height: 40px;
    background: transparent;
    margin: 0px auto;
    border: solid 2px $transparent-blue;
    border-top: solid 2px #1c89ff;
    border-radius: 50%;
    opacity: 0;
    display: none;

    &__check {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translate3d(-4px, 50px, 0);
        opacity: 0;


        &--sucess,
        &--error {
            opacity: 1;
            transform: translate3d(-4px, 4px, 0);
            transition: all .5s cubic-bezier(.49, 1.74, .38, 1.74);
            transition-delay: .2s;
        }

        &--sucess {


            &::before,
            &::after {
                content: '';
                display: block;
                background-color: green;
            }

            &::before {
                width: 10px;
                height: 2px;
                transform: rotate(45deg);
            }

            &::after {
                text-align: center;
                width: 20px;
                height: 2px;
                transform: rotate(-45deg) translate3d(14px, -4px, 0);
                transform-origin: 100%;
            }


        }

        &--error {
            &::after {

                content: '!';
                display: block;
                color: red;
                text-align: center;
                font-family: $main-font;
                font-weight: bold;
                width: 100%;
                font-size: 28px;
                transform: translate3d(4px, -4px, 0);





            }


        }
    }



    &--active {
        display: block;
        animation: loading 2s ease-in-out;
        animation-fill-mode: forwards;
    }
}