.menu {
    $menu-height: 285px;
    $nav-bar-heigth: 60px;
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: $menu-height;
    top: -$menu-height + $nav-bar-heigth;
    left: 0;

    @include flex-box(row, end, space-between);
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.21);
    box-shadow: inset 20px 20px 100px rgba(0, 0, 0, 0.25);
    opacity: .98;
    z-index: 999;
    flex-wrap: wrap;
    transition: .3s .2s;
    padding: 0 (32px / 2);
    font-size: $root-font-size;



    @include for-small-desktop {
        top: 0;
        left: 0;
        height: auto;
        justify-content: space-between;
        align-items: center;
        padding: 0 32px;

    }

    @include for-big-desktop {
        top: 0;
        left: 0;
        justify-content: space-between;
    }


    &__logo {
        align-self: center;
        width: 150px;
        cursor: pointer;
        height: 100%;
        padding: 0;
        margin: 0;
        display: block;
        box-sizing: border-box;
        transform: translateY(4%);

        @include for-small-desktop {
            height: 60px;
            width: 170px;

        }

    }



    &__nav-bar {
        margin: 0 0;
        padding: 0;
        box-sizing: border-box;
        flex-basis: 100%;
        @include flex-box(row, center, center);
        height: $nav-bar-heigth;
        ;
        cursor: pointer;

        @include for-small-desktop {
            flex-basis: auto;
            height: 100%;
            max-height: 100%;
            order: -1;

        }



    }

    &__navigation {
        flex-basis: 100%;
        @include flex-box(row, start, space-between);
        flex-wrap: wrap;
        list-style: none;
        align-self: flex-start;

        @include for-small-desktop {
            align-self: center;
            justify-content: flex-end;

            flex-basis: 70%;




        }



    }

    &__list-item {

        flex-basis: 80%;

        padding: 0;


        @include for-small-desktop {
            flex-basis: 10%;
            margin-left: 3em;
        }

        @include for-normal-desktoop {

            margin-left: 5em;
        }



    }

    &__link {

        @include link-style-reset;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        font: normal normal 1.2em/2.5em $title-font;
        letter-spacing: .1rem;
        display: block;
        color: $main-font-color;
        text-transform: uppercase;
        border-bottom: 1px solid white;
        transition: .2s;
        padding: 0;




        @include for-small-desktop {

            font-size: 1.2em;
            line-height: 1.4em;

        }


        &:hover {

            color: $main-button-color;
            border-bottom: 1px solid $main-button-color;
        }
    }


    &--open {
        top: 0;
        left: 0;
        background-color: rgba(#111, 0.70);
        ;

    }

    &--hidden {
        top: -$menu-height;
        left: 0;
    }
}