.menu {

    position: fixed;
    width: 100%;
    max-width: 100%;
    height: $menu-height;
    top: - $menu-height + $nav-bar-heigth;
    left: 0;


    display: flex;
    justify-content: end;
    align-items: space-between;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.21);
    box-shadow: inset 20px 20px 100px rgba(0, 0, 0, 0.25);
    opacity: .98;
    z-index: 999;
    flex-wrap: wrap;
    transition: .3s .2s;
    padding: 0 $main-spacing * 2;
    font-size: $root-font-size;



    @include mq(extra-medium) {
        top: 0;
        left: 0;
        height: auto;
        justify-content: space-between;
        align-items: center;
        padding: 0 $main-spacing * 3;

    }

    @include mq(very-large) {
        top: 0;
        left: 0;
        justify-content: space-between;
    }


    &__logo {
        align-self: center;
        width: $logo-width;
        max-width: $logo-width;
        cursor: pointer;
        transform: translateY(4%);

        @include mq(extra-medium) {
            height: 80px;
            width: $logo-width + 50px;
            max-width: $logo-width + 200px;

        }

    }



    &__nav-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
        height: $nav-bar-heigth;
        ;
        cursor: pointer;

        @include mq(extra-medium) {
            flex-basis: auto;
            height: 100%;
            max-height: 100%;
            order: -1;

        }



    }

    &__navigation {
        display: flex;
        justify-content: start;
        align-items: space-between;
        flex-basis: 100%;
        flex-wrap: wrap;
        list-style: none;
        align-self: flex-start;

        @include mq(extra-medium) {
            align-self: center;
            justify-content: flex-end;

            flex-basis: 70%;




        }



    }

    &__list-item {

        flex-basis: 80%;

        padding: 0;


        @include mq(extra-medium) {
            flex-basis: 10%;
            margin-left: $main-spacing * 5;
        }

        @include mq(large) {

            margin-left: $main-spacing * 8;
        }



    }

    &__link {

        @include link-style-reset;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        font: normal normal 1.2em/2.5em $title-font;
        letter-spacing: .1rem;
        display: block;
        color: $secondary-font-color;
        text-transform: uppercase;
        border-bottom: 1px solid white;
        transition: .2s;
        padding: 0;




        @include mq(extra-medium) {

            font-size: 1.2em;
            line-height: 1.4em;

        }


        &:hover {

            color: $primary-color;
            border-bottom: 1px solid $primary-color;
        }
    }


    &--open {
        top: 0;
        left: 0;
        background-color: rgba(#111, 0.70);
        ;

    }

    &--hidden {
        top: -$menu-height;
        left: 0;
    }
}