.offer {

    padding: $main-spacing * 3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


    @include for-phone-landscape {
        flex-direction: row;
    }

    @include for-huge-desktop {
        justify-content: space-between;
    }


    &__title {
        width: 100%;
    }

    &__slogan {
        width: 100%;
        margin: $main-spacing $main-spacing * 6 $main-spacing * 6 0;

        font: italic 300 1.125em/1.5em $main-font;
        color: $primary-font-color;
        animation: shake 3s 1s both linear infinite;
        text-align: left;

        @include for-huge-phone {
            font-size: 1.3em;
        }

        @include for-small-tablet {
            font-size: 1.5em;
        }



        @include for-normal-desktoop {
            font-size: 2em;
        }

        @include for-big-desktop {
            font-size: 2.3em;
        }

        @include for-huge-desktop {
            font-size: 2.9em;
        }
    }
}