.slogan {

    font-size: $root-font-size;

    &__title,
    &__motto {
        color: $secondary-font-color;
        text-align: center;
    }

    &__title {
        letter-spacing: .2rem;
        margin-top: 30vh;
        font: normal bold 2.4em/3.687rem $title-font;
        text-transform: uppercase;
        transform: translate(-2px, -20px);



        @include mq(extra-small) {
            transform: translate(-20px, -25px);
        }

        @include mq(small) {
            font-size: 3.5em;
        }

        @include mq(medium) {
            transform: translate(-30px, -40px);
            font-size: 4em;
            letter-spacing: .3rem;
        }

        @include mq(extra-medium) {

            font-size: 4.7em;


            letter-spacing: .5rem;
        }

        @include mq(large) {
            font-size: 5em;
            letter-spacing: .6rem;
        }

        @include mq(very-large) {
            font-size: 5.5em;
            letter-spacing: .8rem;
        }

        @include mq(extra-large) {
            font-size: 7em;
            letter-spacing: 1rem;
        }

        &--into-view {
            animation: back-to-start-position 20s ease both;
        }
    }

    &__motto {

        @include centering($main-spacing * 4);
        width: 70%;
        font: italic normal 1.5em/2.5rem $main-font;
        opacity: 80%;

        @include mq(extra-small) {
            margin-top: 8vh;

        }

        @include mq(very-small) {

            transform: translate(20px, 30px);
        }

        @include mq(small) {
            font-size: 2em;
        }

        @include mq(medium) {
            transform: translate(30px, 40px);
            font-size: 2.2em;
        }

        @include mq(extra-medium) {
            font-size: 2.8em;
            line-height: 3.6rem;

        }

        @include mq(very-large) {
            font-size: 3.5em;

        }

        @include mq(extra-large) {
            font-size: 3.9em;

        }

        &--into-view {
            animation: back-to-start-position 20s ease both;
        }
    }
}